/*reset css*/

/*reset css*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

/*configuração geral de body*/
body{
    background-color:#ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
    border: solid 3px black;
    width: 100%;
}
h3{
    font-size: 50px;
}
p{
    color: #0000009c;
}

li{
    list-style: none;/*retira das listas os numeros ou bullet-points*/
}

section, footer{/*inserir cor de fundo pafa teste e depois retirar*/
    padding: 54px 0; /*margem nterna de 54 pixels para cima e para baixo e 0 para esquerda e direita*/
}

/*header*/

header{
    background-position: center; /*posicionamento para imagem de fundo*/
    background-size: cover; /*ocupa toda a altura e largura disponível em header*/
    background-attachment: fixed;/*cria um efeito parallax na imagem de fundo*/
}

/*nav (dentro de header)*/
nav{
    display: flex;/*a patir do elemento pai, deixa os elementos filhos um ao lado do outro */
    align-items: center; /*alinha os elementos no eixo y*/
    justify-content: space-between;/*distribui os elementos pelo espaço disponivel*/
    padding-top: 30px; /*margem interna vinda do topo*/
}
nav ul{/*temos qui um seletor de precedencia, toda vez que ul estivem em nav terá o comportamento determinado nos codigos abaixo*/
    display: flex;
    align-items: center;
}
nav ul a{
    color: #ffffff; /*cor do texto*/
    margin: 0 25px;/*margem externa, 0 para cima e pra beixo e 25 para esquerda e direita*/
    text-transform: uppercase;/*manter o texto maiúsculo*/
    font-size: 14px; /*tamanho da fonte*/
    display: block; /*comportamento de bloco*/

}

/*aplicar depois*/
nav ul a::after{ /*atenção aos dois pontos repetidos*/
    background-color: #93911a;
    height: 5px;
    width: 0%;/*aqui exste uma relação com a sessão css abaixo, a animação partirá do width:0 até o width 100 na próxima sessão*/
    display: block;


}
nav ul a:hover:not(.btn)::after{ /*a indicação ':not(.btn)' retira o efeito de animação do link que está inserido na classe .btn*/
    width: 100%;
    transition: 0.2s;
    margin: 0 auto;/*faz a aninação do link começar pelo centro*/
}

/*Estilização de botão - ainda em header*/

.btn{
    background-color: #4f9cf9;
    color: #ffffff;
    padding: 15px 20px;/*15 para cima e pa baixo e 20 para as laterais*/
    border-radius: 10px;/*arredondamento de borda*/
    cursor:pointer;/*manter a integridade do cursor*/
    display: inline-block;/*manter padrão em linha dentro de um bloco*/
    transition: 0.5s;/*tempo de transição para mudança de cor*/
}
.btn:hover {
    background-color: #3580db;
  }

/*btn animate aplicar depois*/
  .btn.animate-btn{/* Aqui temos a classe .animate-btn como dependente do seletor de precedênca .btn, é preciso tomar cuidado, um único espaço aqui entre os caracteres invalida a animação*/
    animation: animate_outline 1s ease-out infinite;  
  }
   
  @keyframes animate_outline {
      from{
          outline: 0px solid #4f9bf98a;
      }
      to{
          outline: 15px solid #4f9bf900;
      }
  }


  /*Estilização calsse banner - ainda em header*/
  .capa{
    display: flex;
    justify-content: center;/*alinha elemntos no eixo horizontal (x) e todos concentrados ao centro*/
}
.capa_text{
    margin:50px;
    text-align: center;
    padding: 0 90px;

}
.capa .capa_text h1{
    font-size: 60px;
    color: #ffffff;
}
.capa .capa_text p{
    font-size: 20px;
    color: #ffffff;
    font-weight:lighter;/*define o peso visual da fonte*/
    margin: 18px 0;
  }

  /*<section class="pratica_mais"> linha 43 do html*/
  /*pratica-mais*/
.more_practice .caixa{
    display: flex;
    align-items: center;
}
.more_practice .more_practice-text{
    width: 50%;
    padding: 0 40px;

}
.more_practice .more_practice-img{
    width: 50%; /*ocupa 50% do elemento pai, no caso a classe .pratica_mais*/
}
.more_practice-text p{
    margin: 20px 0;
}
.more_practice .more_practice-img img{
    width: 100%;/*ocupa 100% do elemento pai, no caso a classe .pratica_mais-img*/
}
/*  <!--início do section depoimentos--> linha 80*/

.depoiments h3{
    text-align: center;
}
.depoiments p{
    text-align: center;
    margin-bottom: 20px;/*margem externa a partir da parre de baixo*/
}
.cartas{
    display: flex;
    justify-content: center;
}
.depoiments .cartas-itens{
    background-color: #8abff1;
    margin: 15px;
    border-radius: 15px;
    text-align: center;
    width: 350px;
}

.depoiments .cartas-itens img{
    border-radius: 100%;
    width: 150px;
    display: block;
    margin: 20px auto;
}
.depoiments .cartas-itens .name-user{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
   }
   .depoiments .cartas-itens .depoiments-user{
    font-size: 15px;
padding: 0 15px;
   }

/*mostrar depois*/
.depoiments .cartas-itens:hover{
    background-color: aqua;
    margin-top: 5px;
    transition: 0.5s; /*esse tempo de transição marca quando o card mudara de cor e será ampliado em 5px, como determinado acima*/

   }
.depoiments .cartas-itens:hover .name-user, 
.depoiments .cartas-itens:hover .depoiments-user
{
    color: #ffffff;
}

/*clientes linha 124*/
  .clients h3,
  .clients p{
      text-align: center;
     }
.clients.caixa div{
    display: flex;
    align-items: center;
    justify-content: space-around;/*distribui os itens no espaço levando em consideração as bordas*/
}

/*footer - linha  157*/
.termino{
    background-color: #4f9cf9;
    text-align: center;
   }
   .termino i{
    color: #2418cb;
    background-color: #ffffff;
    font-size: 30px;
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
   }
   .termino p{
    margin-top: 10px;
    color: #ffffff;
   }